# CI Config
cache:
  paths:
  - src/assets/bower_components

stages:
  - deploy

# Deploy to Production(S3)
deploy_prod:
  stage: deploy
  image: node:latest
  only:
    - master
  artifacts:
    name: "build_${CI_BUILD_REF}"
    expire_in: 1d
    paths:
      - dist
  script:
    - npm install -g bower grunt-cli
    - npm install --force
    - bower install --allow-root
    - grunt deploy
