footer {
    text-align: center;
    .list-inline {
        margin-top: 0;
        margin-bottom: 0;
        > li {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: all 0.3s;
            &:first-child {
                padding-right: 30px;
            }
            &:hover:not(:first-child) {
                background-color: @white;
                .icons {
                    color: @brand-primary;
                }
            }
        }
    }
}