<span class="h1 header hidden">GOOD <span id="highlight" class="highlight"></span>, ^750I'M ANDY</span>
<div class="content"> 
    {{#each data.paragraphs}}
    <p>{{this}}</p>
    {{/each}}
    {{> contact}}
</div>