<span id="first-time-vistor" class="h2 hidden">
    Good <span id="highlight" class="highlight"></span>,^100
    <br>{{data.strap}}
</span>
<span id="previous-vistor" class="h2 hidden">
    Welcome back,^100
    <br>{{data.strap}}
</span>
<div class="content">
    <div class="text">
        {{#each data.paragraphs}}
            <p>{{this}}</p>
        {{/each}}
    </div>
    <ul class="list-inline">
        <li><a href="mailto:mail@andrewpwarren.co.uk" target="_blank" class="btn btn-primary">Get in touch</a></li>
        <li><a href="https://www.linkedin.com/in/andrewpwarren" target="_blank" class="btn btn-primary">See my projects on LinkedIn</a></li>
    </ul>
   
    <ul class="list-inline">
    {{#each data.tech.items}}
        <li class="label label-primary">{{this}}</li>
    {{/each}}
    </ul>
</div>
