<span id="first-time-vistor" class="h1 hidden">GOOD <span id="highlight" class="highlight"></span>, ^750I'M ANDY</span>
<span id="previous-vistor" class="h1 hidden">WELCOME BACK, ^750I HOPE YOU'RE HAVING A <span id="adjective"></span> ^750<span id="highlight" class="highlight"></span></span>
<div class="content"> 
    {{#each data.paragraphs}}
    <p>{{this}}</p>
    {{/each}}
    {{> contact}}
</div>