<span id="first-time-vistor" class="h1 hidden uppercase">good <span id="highlight" class="highlight"></span>, ^750I'm andy</span>
<span id="previous-vistor" class="h2 hidden">
    Welcome back, I'm Andy. ^750I hope you're having a <span id="adjective"></span> ^750<span id="highlight" class="highlight"></span></span>
<div class="content"> 
    {{#each data.paragraphs}}
        <p>{{this}}</p>
    {{/each}}
    {{> contact}}
</div>