<div class="contact">
    <p>{{data.pre-contact}}</p>
    <ul>
        {{#each data.contact}}
        <li>
            <a href="{{this.link}}" target="_blank">
                <span class="icons icon-{{this.icon}}"></span>
                <span class="text">{{this.text}}</span>
            </a>
        </li>
        {{/each}}
    </ul>
</div>
