<div class="background">
    <img class="sr-only" src="../img/landscape6.png">
</div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="center">
        <ul class="nav navbar-nav">
            <li><span class="navbar-brand">{{data.title}}</span></li>
            {{#each data.contact.items}}
            <li>
                <a href="{{this.link}}" data-toggle="tooltip" title="{{this.text}}" target="_blank">
                    <span class="icons icon-{{this.icon}}"></span>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</nav>