<nav class="navbar navbar-default navbar-fixed-top">
    <div class="col-sm-8 col-sm-offset-2">
        <ul class="nav navbar-nav">
            <li class="navbar-brand"><a href="/" class="uppercase">{{data.title}}</a></li>
            <li><a href="#projects">Projects</a></li>
        </ul>
    </div>
</nav>