---
layout: src/templates/layouts/default.hbs
--- 
{{> nav}}
<div class="background container-fluid">
    <img class="sr-only" src="../img/landscape6.png">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-2 page-margin">
            <span id="first-time-vistor" class="h1 hidden">Good <span id="highlight" class="highlight"></span>
            </span>
            <span id="previous-vistor" class="h1 hidden">Welcome back</span>
            <div class="reveal">
                <h2>{{data.strap}}</h2>
                <div class="text">
                    {{#each data.paragraphs}}
                    <p>{{{this}}}</p>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid reveal">
    {{> projects}}
</div>
{{> footer}}