---
layout: src/templates/layouts/default.hbs
---
<div class="background" style="background-image: url(../img/{{this.slug}}.png)">
    <img class="sr-only" src="../img/{{this.slug}}.png">
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1 col-md-8 col-md-offset-2">
            <h1>{{title}}</h1>
            <p>{{intro}}</p>
        </div>
    </div>
</div>
