.label {
    padding: .5em 1em .5em 1em;
    font-weight: 600;
    letter-spacing: 1px;
}

.label-primary {
    transition: all .3s;
    background-color: transparent;
    color: @white;
    border: solid 1px @white;
}