
.navbar {
  height: @navbar-height;
}
.navbar-brand {
  padding: 0;
  padding-left: 0;
  padding-right: 10px;
  font-size: @font-size-h2;
  line-height: @font-size-h2;
}

nav li > a {
  padding: 10px 8px;
}

.project-page {
  .navbar-brand {
    &:hover {
      background-color: @white;
    }
  }
  .counter {
    background-color: @white;
    color: @brand-primary;
  }
  li {
    transition: background-color 0.3s;
    &:hover {
      background-color: @white;
    }
  }
}

//collapse overrides
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav > li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar-nav {
  margin: 0px 0px;
}