.navbar {
  .counter {
    padding: 10px 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: @brand-primary;
    background-color: @white;
  }
  .bar-2 {
    opacity: 1;
  }
  .icon-bar {
    transition: transform .25s, opacity .25s;
  }
  .navbar-toggle:not(.collapsed) {
    .bar-1 {
      transform: rotateZ(45deg) translate(4px, 4px);
    }
    .bar-2 {
      opacity: 0;
    }
    .bar-3 {
      transform: rotateZ(-45deg) translate(4px, -4px);
    }
  }
  .navbar-toggle {
    z-index: 1;
  }
}