nav {
  height: @navbar-height;

  .navbar-nav {
    li {
      height: @navbar-height;
      transition: background-color 0.3s;

      a, span {
        padding-top: 12px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
      }

      &.navbar-brand {
        padding: 0;
        font-size: @font-size-h2;
        a {
          padding-left: 0;
        }

        &:hover {
          background-color: @white;
        }
      }

      &:hover {
        background-color: @white;
        a {
          color: @brand-primary;
        }
        .icons {
          color: @brand-primary;
        }
      }
      
      &.counter {
        background-color: @white;
        color: @brand-primary;
      }
    }
  }
}

//collapse overrides
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav > li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar-nav {
  margin: 0px 0px;
}