//
// Scaffolding
// --------------------------------------------------
.section {
  margin-top: @container-margin-top;
  position: relative;
}

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: @max-section-width;
}