//
// Scaffolding
// --------------------------------------------------
.section {
  margin-left: auto;
  margin-right: auto;
  margin-top: @container-margin-ver;
  max-width: @max-section-width;
  position: relative;
}