//
// Variables
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-dark:             #888888;
@gray:                  #dddddd;
@gray-light:            #f0f0f0;

@black:                 #414141;
@white:                 #ffffff;

@blue:                  rgb(000, 127, 168);
@light-blue:            rgb(024, 191, 244);
@yellow:                rgb(244, 229, 012);
@orange:                rgb(247, 147, 030);
@heather:               rgb(038, 009, 015);
@heather-light:         rgb(071, 031, 039);
//bootstrap brand colours
@brand-primary:         @heather;
@brand-secondary:       @heather-light;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  'Raleway', sans-serif;;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;

@font-size-base:          16px;
@font-size-large:         ceil(@font-size-base * 1.17); // ~20px
@font-size-small:         floor(@font-size-base * 0.88); // ~14px

@font-size-h1:            floor(@font-size-base * 2); // ~44px
@font-size-h2:            floor(@font-size-base * 1.6); // ~32px
@font-size-h3:            floor(@font-size-base * 1.4); // ~22px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        22/16; // 22/@font-size-base
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~24px

@headings-line-height:    1.1111111111;
@headings-color:          @white;
@headings-font-weight:    500;
@headings-margin:         10px;

// Body text color
@text-color:              @black;
//** Global textual link color.
@link-color:            @white;
//** Link hover decoration.
@link-hover-decoration: none;

//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.
@icon-size:                 @font-size-large;

//== Container spacing
@container-margin-top: 70px;
@max-section-width: 750px;

//== Time of days vars
//
//## specifies variables for dynamic time of day highlighting
@morning: @yellow;
@afternoon: @light-blue;
@evening: @orange;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.
@btn-primary-bg:                @brand-primary;
@btn-primary-border:            @white;
@btn-primary-color:             @white;

//==Profile Vars
//
//##
@profile-img-size: 150px;
@profile-padding: 5px;
@projects-border-width: 2px;
@profile-image-fade: 25%;

//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    50px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             @white;
@navbar-default-bg:                @brand-primary;
@navbar-default-border:            @white;

// Navbar links
@navbar-default-link-color:                @white;
@navbar-default-link-hover-color:          @brand-primary;
@navbar-default-link-hover-bg:             @white;
@navbar-default-link-active-color:         #555;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @brand-primary;
@navbar-default-brand-hover-bg:            @white;

// Navbar toggle
@navbar-default-toggle-hover-bg:           @brand-primary;
@navbar-default-toggle-icon-bar-bg:        @white;
@navbar-default-toggle-border-color:       @brand-primary;

@navbar-border-size: 1px;